/**
 * info
 */
.infoPage {

  h1 {
    font: bold 20px/1 Arial, sans-serif;
    text-align: center;
    line-height: 144px * 0.5;
    a {
      color: #444;
      text-decoration: none;

      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
      }
    }
  }
  .infoLogo {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;

    width: 144px * 0.3;
  }

}