<div class="infoPage">
    <h1><a href="#/"><img class="infoLogo" src="images/apple-touch-icon-144x144.png" alt=""/> Poker planning</a></h1>

    <div class="jumbotron" style="padding: 30px;">
        Protip : ajouter votre salle à l'écran d'accueil pour y accéder plus rapidement
    </div>

    <div class="jumbotron" style="padding: 30px;">
        <p>Développé à Lyon par <a href="https://twitter.com/yannlombard" target="_blank">@yannlombard</a></p>
        <p>Pas avec de l'amour comme c'est la mode en ce moment mais avec des lignes de code.</p>
        <p>Et elles sont disponibles sur <a href="https://github.com/yannlombard/poker-planning" target="_blank">mon github</a>.<br/>N'hésitez pas à participer.</p>
    </div>

    <div class="jumbotron" style="padding: 30px;">
        <p class="text-center"><img src="images/clock.svg" alt=""/></p>
        <p class="text-center">
            Clock by <a href="http://thenounproject.com/is178/" target="_blank">Takashi Inaba</a> from <a
                href="http://thenounproject.com/term/clock/9043/" target="_blank">The Noun Project</a>
        </p>
    </div>

    <p><a href="#/" class="btn btn-success">Retour à l'accueil</a></p>

    <p class="text-center">Tous droits réservés - Yann Lombard - 2014</p>

</div>