<h4 class="text-muted pull-right"><span style="font-weight: normal;">table</span> <strong>{{roomID}}</strong></h4>
<h4 class="text-muted">poker planning</h4>

<div class="jumbotron">
    <p ng-hide="roomObj">Chargement...</p>
    <ul class="values" ng-class="{showValues: votesDone(roomObj)}">
        <li ng-repeat="id in roomObj.$getIndex()" ng-class="{voted: roomObj[id].vote > -1}">
            <strong>{{votes[roomObj[id].vote]}}</strong> Mon nom<!--{{id}}-->
            <button ng-click="removeUser(id)" class="btn btn-danger"><i class="pull-right glyphicon glyphicon-remove"></i></button>
        </li>
    </ul>
    <p class="text-right show average">
        <button ng-click="resetVote()" class="pull-left btn btn-danger">reset</button>
        <span ng-show="roomObj | votesDone">Chiffre <strong>{{roomObj | average}}</strong></span>
    </p>

</div>

<p ng-hide="uid">Identification...</p>
<ol class="cards" ng-show="uid && roomObj">
    <li ng-repeat="vote in votes"><a ng-class="{active: roomObj[uid].vote === $index}" href="" ng-click="voteFor($index)">{{vote}}</a></li>
</ol>

<div class="footer text-right">
    <p>♥ from the SQLI team</p>
</div>
