<div class="clearfix header">
    <h4 class="text-muted pull-left">
        <i class="logo glyphicon glyphicon-time"></i>
        poker planning
    </h4>
    <h4 class="text-muted pull-right"><span>{{roomID}}</span> <span style="font-weight: normal;"><i class="tableIcon glyphicon glyphicon-tag"></i></span></h4>
</div>

<div class="jumbotron" ng-show="uid">
    <p ng-hide="roomObj">Chargement...</p>
    <ul class="values" ng-class="{showValues: votesDone(roomObj)}">
        <li ng-repeat="id in roomObj.$getIndex()" ng-class="{voted: roomObj[id].vote > -1}">
            <span class="checkMark" ng-class="{visible: !votesDone(roomObj) && roomObj[id].vote > -1}"><i class="glyphicon glyphicon-ok"></i></span>
            <strong>{{votes[roomObj[id].vote]}}</strong> {{names[id] || 'Sans nom'}}
            <button ng-click="removeUser(id)" class="btn btn-danger pull-right"><i class="glyphicon glyphicon-remove"></i></button>
        </li>
    </ul>

    <p class="text-right show average">
        <button ng-click="resetVote()" class="pull-left btn btn-danger">reset</button>
        <span class="pull-right" ng-class="{visible: votesDone(roomObj)}">Chiffre <strong>{{roomObj | average}}</strong></span>
    </p>

</div>

<p ng-hide="uid" class="loginProgress">Identification...</p>
<ol class="cards" ng-show="uid && roomObj" ng-hide="spectate">
    <li ng-repeat="vote in votes"><a ng-class="{active: roomObj[uid].vote === $index}" href="" ng-click="voteFor($index)">{{vote}}</a></li>
</ol>

<div class="footer text-right">
    <a class="pull-left" href="#/"><i class="glyphicon glyphicon-cog"></i></a>
    <p><a href="#/info">Plus d'infos</a></p>
</div>
